@use "font" as *;

$bg-main: #fafafa;
$color-primary: #1f74c9;
$color-secondary: #d72585;
$text-primary: #3c3c3c;
$text-gray: #6A6A6A;

body {
  font-family: "IRANSansXFaNum", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
  color: $text-primary;
}

.bg-main {
  background-color: $bg-main;
}

.v-slide-group,
.v-container,
.v-sheet {
  box-shadow: none !important;
}

.btn-secondary {
  background-color: $color-secondary;
  line-height: 24px;
  text-align: center;
  padding: 12px 40px;
  color: #fafafa !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.btn-primary {
  background-color: $color-primary;
  line-height: 24px;
  text-align: center;
  padding: 12px 40px;
  color: $text-primary;
  border-radius: 4px;
}

.text__primary {
  color: $text-primary;
}

.text__gray{
  color: $text-gray;
}

.v-field {
  direction: rtl;
}

.w-full {
  width: 100%;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.v-otp-input__content {
  padding: 0 !important;
}
