@import "font.scss"; // import font iranstans
$bg-main: #fafafa;
$color-primary: #1f74c9;
$color-secondary: #d72585;

body {
  font-family: "IRANSansXFaNum", sans-serif;
}

.bg-main {
  background-color: $bg-main;
}

.v-slide-group,
.v-container,
.v-sheet {
  box-shadow: none !important;
}
